In [9]:
from datetime import date
import datetime
import pandas as pd

In [10]:
appended_data = pd.read_csv('wiki_set1.csv', index_col=0)
appended_data

            Edits                                   Name
date
2002-01-01     58                         Climate change
2002-02-01     96                              Beryllium
2002-03-01     71                              Invention
2002-04-01     37                                  Chess
2002-05-01     51                    Nicolaus Copernicus
...           ...                                    ...
2021-07-01   1444                    2021 Cuban protests
2021-08-01   1638         2021 Atlantic hurricane season
2021-09-01   1414         2021 Atlantic hurricane season
2021-10-01   1452  List of songs recorded by Alka Yagnik
2021-11-01   1608        Astroworld Festival crowd crush

[227 rows x 2 columns]

In [23]:
# SCRAPE AND CATEGORIZE ALL THE ARTICLES

"https://en.wikipedia.org/w/index.php?title=Virginia_Tech_shooting&offset=20181221123845%7C874771718&limit=500&action=history"

'https://en.wikipedia.org/w/index.php?title=Virginia_Tech_shooting&offset=20181221123845%7C874771718&limit=500&action=history'